.main {
height: 80vh;
}


.card {
  opacity: 1;
  min-width: 50vw;
}

.buttonGroup {
  max-width: 60%;
}

.bgimg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 0;
}

.page {
  margin: 0;
  padding: 0;
  position: relative;
}

.bgParticles {/*
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  margin: 0;
  padding: 0;
  width: 200px;
  height: 200px;
  z-index: 10;  */
}