.markdownCustom * {
  font-family: "Merriweather Sans", sans-serif !important;
}

.markdownCustom h1,
.markdownCustom h2,
.markdownCustom h3,
.markdownCustom h4,
.markdownCustom h5,
.markdownCustom h6 {
  font-family: "Merriweather", serif !important;
}

.markdownCustom pre,
.markdownCustom code,
.markdownCustom pre code,
.markdownCustom pre code * {
  font-family: "JetBrainsMono NF", monospace !important;
}

.markdownCustom table {
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 1px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
}

.markdownCustom th {
  padding: 0.7rem 1rem;
}
.markdownCustom td {
  padding: 0.5rem 1rem;
}

.markdownCustom .rehype-code-title {
  font-family: "JetBrainsMono NF", monospace !important;
  margin-left: 1rem;
}